*{
    box-sizing: border-box;
}

body{
    font-family: "karla", sans-serif;
    margin: 0;
}

main {
    padding: 36px;
    display: inline-block;
}

header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #565656 1.18%, #aaa 100%);
    color: white;
    padding: 20px;
}

.header-image {
    height: 160%;
    margin-right: 6px;
}

.header-title{
    font-size:20px;
    margin-right: auto;
}

.header-connect{
    font-size: 12px;
    font-weight: 500;
}
a {
    color: #565656;
    display: contents;
    font-family: cursive;
    font-weight: 700;}
a:hover {
    font-size: 150%;
}


.form{
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
    margin-bottom: 17px;
}
.form-input{
    font-family: "karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #000;
    text-indent: 5px;
}

.form-button{
    font-family: "karla", sans-serif;
    grid-column: 1 / -1;
    border-radius: 5px;    
    background: linear-gradient(90deg, #565656 1.18%, #aaa 100%);
    color: white;
    border: none;
    cursor: pointer;
}
.meme {
    position: relative;
}

.memeImg {
    max-width: 100%;
    border-radius: 3px;
}
.meme-text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.Bottom {
    bottom: 0;
}

.Top {
    top: 0;
}